// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bleu : #08415C;
$noir : #161616;
$gris_claire : #E5E5E5;
$rouge : #9E1C17;
$gris : #C4BBB8;
