// Define variables for your color scheme

// For example:
$red: #9E1C17;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bleu: #08415C;
$texte: #161616;
$gris: #E5E5E5;
$rouge: #9E1C17;
$grisfonce: #C4BBB8;
$noir: #161616;
$gris2: rgb(227, 231, 241);
$bleuclair: #0098FA;
$rougefonce: rgb(182,1,49);

$box-shadow: 10px 10px 10px rgba(164,156,156,0.5);
$padding-cards: 15px 15px;
$border-radius: 4px;
$body-bg: #f9f9f9;
