// Import page-specific CSS files here.
@import "home";



.memoadd {
  grid-area: memoadd;

}

@keyframes show-form-bar {
  0% {
    height: 3em;
  }
  100% {
    height: 8em;
  }
}
@keyframes hide-form-bar {
  0% {
    height: 8em;
  }
  100% {
    height: 3em;
  }
}

.addmemo {
  transition: all 0.4s 0.4s cubic-bezier(.5,.2,.43,1.33);
}

.addmemo > .fadeout {
  opacity: 1;
}
.addmemo > .cache {
  height: 3em;
  overflow: hidden;
}

.memoform.show {
  animation: show-form-bar .8s forwards cubic-bezier(.64,1.87,.64,.64);

}
.memoform.hide {
  animation: hide-form-bar .8s forwards cubic-bezier(.64,1.87,.64,.64);
}

.memoform {
  // transition: height 1s ease;
  opacity: 1;
  height: auto;
  display:flex;
  flex-direction: column;

  h2 {
    display: inline-block;
  }
}

#plusmemo {
  font-size: 1.6em;
  color:rgb(73, 73, 87);
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
    font-size: 1.8em;
  }
}

.relative {
  position:relative;
}

.loveboard {
  position:absolute;
  top: 30%;
  right: 50%;
  z-index:30;
  color: rgb(182, 1, 49);
}

.feeds {
  grid-area: feed;

}

.events {
  grid-area: event;
}

.scrollable {
  overflow: scroll;
}

.memos {
  grid-area: memo;
  }

.memolist {
  grid-area: memolist;
}

.navs {
  grid-area: nav;
  // box-shadow: $box-shadow;
  z-index:40;
}


// .sides {
//   grid-area: side;
//   background-color: white;
//   box-shadow: 4px 4px 15px rgba(60,60,60,0.4);
//   z-index:20;
//   margin-right: 15px;
//   overflow:hidden;
// }

.sticky {
  position: sticky;
  top: 0;
}

.calendar {
  grid-area: calendar;
  // grid-column: 3 / 4;
  // grid-row: 4 / 5;
  z-index: 30;
  align-items: center;
}
// rgb(200,200,200);
.mfooter {
  grid-area: footer;
  background-color: rgb(210,210,250);
}
.elem {
     width: 100px;
   height: 200px;
   background-color: rgb(200,200,200);
}

.mheader {
   grid-area: header;
   background-color: rgb(220,250,250);

}

.footerdash {
  grid-area: footer;
}

.brcontainer {
  display: grid;
  background: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.3)), asset_url('lovewall2.png') no-repeat center center fixed;
  background-size:cover;
     // grid-template-areas:
     //  ". header header header"
     //  "footer footer footer";

grid: auto auto auto auto auto / 12fr 20fr 45% 10fr;
    background-color: $gris2;
grid-template-areas:
"nav nav nav nav"
". event event ."
". memoadd memoadd ."
". memolist calendar ."
". feed feed ."
"footer footer footer footer";
min-width: 100vw;
min-height: 100vh;
  }

