

  <ul>
<% current_user.partenaire_interests.each do |pinterest| %>
  <% if pinterest.interest.genre == "Activité" %>
  <% piid = pinterest.id%>
  <li data-PIid="<%=piid%>">
      <%= link_to "Delete -", partenaire_interest_path(piid), method: :delete, remote: true %>
      <%= pinterest.interest.title  %>
  </li>
  <% end %>
<% end %>
  </ul>
