
<div id="memo">
  <%= form_with url: memos_path, method: :post, class: "form-inline text-center mb-2" do |f| %>
    <%= f.text_field :content, class: "form-control mr-3 w-50" %>
        <%= f.date_field :calendardate, class: "form-control mr-3" %>
          <%= f.submit :Ajouter, class: "btnberomantic" %>
  <% end %>
</div>
