
  <ul class="list-items">
<% current_user.partenaire_interests.each do |pinterest| %>
  <% if pinterest.interest.genre == "Centre d'intérêt" %>
  <% piid = pinterest.id%>
  <li data-PIid="<%=piid%>" class="mini-card">
    <%= pinterest.interest.title  %>
    <%= link_to partenaire_interest_path(piid), method: :delete, remote: true do %>
      <i class="fas fa-times-circle cross"></i>
    <% end %>
  </li>
  <% end %>
<% end %>
  </ul>
