<h1>partenaire informations</h1>
<p><%= @partenaires.first.firstname unless @partenaires.nil? %></p>


<p>choisir un interet et l'ajouter</p>
<p>visualiser les interets choisis</p>

<p>choisir une activité et l'ajouter</p>
<p>visualiser les activités choisie</p>

<p>ajouter une date clef</p>
<p>visualiser les dates clefs</p>

<p>ajouter un memo</p>
<p>visualiser les memos</p>

