<div class="calendarcard">
  <!-- <div><%#  @caleventnum[0][1].to_i %></div> -->
  <div class="containercalendar" id="containercalendar">
    <%=  render 'calendarseule',results_sql: @results_sql  %>
  </div>
  <div class="showmore" id="showmore" data-number="10">Voir <strong id="num"> <%= @caleventnum[0][0].to_i - @nbvisu.to_i %></strong> dates supplementaires</div>
</div>
