<div class="maincard">
  <h5>Dernier post Instagram</h5>
  <%# raw(ap @image) %>
    <div class="mr-2">
        <% @images.each do |image|  %>
          <%= image_tag image, width: 100, height: 100, class:"insta12" %>
        <% end %>
      <div class="date12">
        <% @dates.each do |date| %>
          <p><%= time_ago_in_words Time.at(1574433880) %></p>
        <% end %>
      </div>
    </div>
</div>
