<div class="maincard lightshadow">
  <div class="card text-center mw-50">
    <div class="card-body">
      <%= render 'partenaires/formmemo' %>
    </div>
  </div>
  <div class="card-footer text-muted">Ajoute un memo! avec une date, il sera dans le calendrier</div>
</div>
