<div class="maincard lightshadow memoform cache hide">
  <i class="fas fa-plus-square mb-4" id="plusmemo">  mémoriser ses pensées</i>
  <div class="card text-center mw-50">
    <div class="card-body p-1">
      <div id="memo">
        <%= form_with url: memos_path, method: :post, class: "form-inline text-center mb-2" do |f| %>
          <%= f.text_field :content, class: "form-control mr-1 w-75" %>
          <%= f.submit :Ajouter, class: "btnberomantic" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
