<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to 'love board',pages_path%>
<div class="insta">
  <p><%= @full_name %></p>
  <p><%= @profile_picture %></p>
  <p><%= @image %></p>
</div>
