<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'love board',pages_path%>

<div class="insta">
  <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s320x320/74600049_454472871873356_269788387323676514_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=a6b5c00ceb2f069d569bdef0aa47ad50&oe=5E6C201B" alt="photo insta" width="260" height="260">

  <img src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s320x320/75430261_154799845747771_4055914214159736813_n.jpg?_nc_ht=scontent.cdninstagram.com&oh=7894fc2c9a7471570310219f8165df59&oe=5E6712AD" alt="photo insta" width="260" height="260">

</div>
