<%= render 'shared/navbar' %>
<div>
  <div class="container">
    <h1 class="h1-home">Soyez romantique au quotidien</h1>
    <p>avec votre coach, BeRomantic</p>
  </div>
  <%= video_tag "couple_neige.webm", :controls => true, autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
</div>
