<h1>love board</h1>
<p><%= current_user.email %></p>

<p>afficher les données partenaires essentielles</p>
<%= link_to 'partenaire info', partenaires_path  %>

<p>afficher les 4 évenements essentiels</p>
<p>lien vers la page tous les events sélectionnés</p>
<%= link_to 'event list', user_events_path  %>


<p>ajouter un memo</p>


<p>calendrier</p>
<p>afficher les jours à J -7 et J+ 30</p>
<p>afficher les events, date clefs, memo aux dates indiquées</p>


<p>afficher extract feed</p>
<p>lien vers toutes les feeds</p>

<p>si pas de feed, afficher suggestions cadeaux (3)</p>
<p>lien vers suggestion cadeaux</p>




