.btn-white{
  color: white;
  background: #00000030;
  margin-right: 8px;

  &:hover {
    color: white;
    background: #00000080;
  }
}

.button-facebook {
  margin-top: 50px;
  background: white;
  border: solid #4267b2 1px;
  border-radius: 5px;
  color: #4267b2;
  height: 40px;
  text-align: center;
  width: 250px;
  padding: 10px;
}
