.containercalendar {


.annee {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
}

.popannee {
  position: absolute;
    left: -20px;
    top: 10px;
    border-radius: 7px;
    background-color: white;
    font-size: 0.8em;
    color: #2b5cd4;
    max-width: 50px;
    padding: 4px;
    border: solid 1px;
}

.contentmois {
display:flex;
flex-wrap: wrap;
width: 100%;
border-radius: 7px;
background-color: $gris2;
padding: 10px;
margin-bottom: 3px;
font-size: 0.9em;
color: #706e6e;
}

.mois {
  margin-right: 15px
}

.contentjour {
  display:flex;
  flex-wrap: wrap;
  width: 60%;
  flex-grow: 1;
}

.popjour {
    width: 18%;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    font-size: 0.9em;
    color: #706e6e;
}

.jourline {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(250,250,250,0.4);
  border: solid 1px lightgray;
  border-radius: 6px;
  margin-bottom: 3px;
}

.caltext {
  width: 70%;
  padding: 5px;
  p {
    margin: 0;
    padding:2px;
    color: #2b5cd4;
    border-radius: 7px;
    // border: solid 1px;
    margin-bottom:1px;
    font-size: 0.9em;

  }
  p.event{
    color: #706e6e;
  }
  p.memo{
    color: #706e6e;
    font-style: italic;
  }
  p.keydate{
    color: #706e6e;
    font-weight:700;
    display: flex;
    align-items: center;
   }
  span {
  margin-left: 10px;
  }
}
}
