//A utiliser pour memo (loveboard), dates clés et activités (informations)

.background-card-light {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: rgba(255,255,255,0.8);
  padding: $padding-cards;
}

.margin-card-activities {
  margin: 15px 0 15px 0;
}

.mini-card {
  background-color: rgba(254, 255, 255, 0.8);
  // color: white;
  color: #9e1b16;
  border-radius: $border-radius;
  padding: 4px 6px;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
  flex-grow:1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  font-weight: 500;

    p {
      font-size: 0.8em;
    }

    span {
      font-size: 0.6em;
    }
    div a {
      position: relative;
    }

    i {
    position: absolute;
    top: -5px;
    right: -8px;
    color: $rougefonce;
    font-size: 1.3em;
    background-color: white;
    border-radius: 50px;
    transition: all 0.2s ease;
    opacity: 0.7;
      &:hover {
        opacity:1;
      }

    }
}
   .listoe {
      display:flex;
      justify-content:center;
      align-items: flex-start;
      width: 370px;
      flex-direction: column;
    }

.keydate-line {
  color: #161616;
  border-radius: $border-radius;
  padding: 4px 6px;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  list-style: none;
  // margin-left: 10px;
  display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    i {
    position: absolute;
    top: 8px;
    color: $rougefonce;
    font-size: 1.2em;
    }
  }

.list-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-row: 1;
  grid-column-start: auto;
  list-style: none;
  padding: 0;
}

#dates ul {
  padding: 0;
}

.cross {
  position: absolute;
  right: 10px;
}

// .ligne {
//   color: rgb(255,255,255);
// }

.encart-forms {
  color: #161616;
  border: solid 1px #161616;
  border-radius: $border-radius;
  padding: 6px 12px;
  opacity: 0.6;
  display: inline-block;
  background: white;
}
