.maincard {
border-radius: $border-radius;
// box-shadow: 0px 0px 15px 8px #dee2e6;
border: solid rgb(240,240,240) 1px;
// background-color: rgb(255,255,255);
// background-color: #ffffffad;
background-color: #fffffff5;
margin-bottom: 20px;
padding: 10px 10px;
display: flex;
position: relative;
overflow-y: hidden;
overflow-x: hidden;
}

.cardsmemocontainer {
  // padding: 10px;
}

.maincard.lightshadow{
  box-shadow: 10px 10px 10px rgba(164, 156, 156, 0.5);
  position: relative;
  // padding-right: 50px;
}


.events > .maincardevent, .memolist > .maincardevent {
  padding-top: 50px;
  padding-left: 15px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  box-shadow: none;
  background: none;
  border: none;
  border-radius: 2px;


}

.divtitleeventcard {
  position: absolute;
  left: 3px;
  height: 100%;
  top: -5px;
}

.maincardfeed {
  padding-top: 49px;
  padding-left: 15px;
  padding-bottom: 0px;
  margin-bottom: 65px;
  border-radius: 2px;
}
