.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  // background: #ffffff3b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 268px;
  margin: -40px;
  margin-left: -53px;
}
